@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden !important;
  }
  .iconreact svg path {
    fill: white;
  }
  @media(max-width:991px){
    .hide-scrollbar {
      overflow: hidden !important;
    }
  }
  .PhoneInputInput {
    flex: 1;
    min-width: 0;
    background-color: transparent;
    font-size: 14px;
    padding: 10px;

}




  

  
  
  
  
  
  
  