@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'League Spartan', sans-serif;
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden;
  }
  .iconreact svg path {
    fill: white;
  }


  

  
  
  
  
  
  
  